<?xml version="1.0" ?>
<robot name="kr210_main" xmlns:xacro="http://ros.org/wiki/xacro">

    <xacro:arg name="camera" default="false"/>
    <xacro:arg name="gripper_2f" default="false"/>

    <xacro:include filename="$(find kr210_gazebo)/urdf/resources/inertial_macros.xacro"/>
    <xacro:include filename="$(find kr210_gazebo)/urdf/resources/materials.xacro"/>
    <xacro:include filename="$(find kr210_gazebo)/urdf/resources/floor.xacro"/>
    <xacro:include filename="$(find kr210_gazebo)/urdf/resources/wall.xacro"/>
    <xacro:include filename="$(find kr210_gazebo)/urdf/conveyor.xacro"/>
    <xacro:include filename="$(find kr210_gazebo)/urdf/gazebo.xacro"/>
    <xacro:include filename="$(find kr210_gazebo)/urdf/resources/table.xacro"/>

    <!-- camera -->
    <xacro:if value="$(arg camera)">
        <xacro:include filename="$(find kr210_gazebo)/urdf/camera.xacro"/>
    </xacro:if>

    <!-- gripper -->
    <xacro:if value="$(arg gripper_2f)">
        <xacro:include filename="$(find kr210_gazebo)/urdf/gazebo_2f.xacro"/>
    </xacro:if>
</robot>