<?xml version="1.0" ?>
<robot name="pallet" xmlns:xacro="http://wiki.ros.org/xacro">

  <!-- Definition macro for pallet -->
  <xacro:macro name="pallet" params="name x y z mass">
    <link name="${name}_pallet">
      <collision>
        <origin rpy="0 0 0" xyz="0 0 0"/>
        <geometry>
          <box size="0.1 0.7 0.7"/>
        </geometry>
      </collision>
      <visual>
        <origin rpy="0 0 0" xyz="0 0 0"/>
        <geometry>
          <box size="0.1 0.7 0.7"/>
        </geometry>
        <material name="wood"/>
      </visual>
      <xacro:inertial_box mass="${mass}" x="0.1" y="0.7" z="0.7">
        <origin xyz="0 0 0" rpy="0 0 0"/>
      </xacro:inertial_box>
    </link>

    <joint name="${name}_pallet_joint" type="fixed">
      <origin rpy="0 1.5708 0" xyz="${x} ${y} ${z}"/>
      <parent link="world"/>
      <child link="${name}_pallet"/>
    </joint>

    <gazebo reference="${name}_pallet">
      <material>Gazebo/WoodPallet</material>
    </gazebo>
  </xacro:macro>

  <!-- Invocation of macro with dimention specifics -->

  <!-- Pallet for red boxes -->
  <xacro:pallet name="red" x="2.5" y="0.0" z="0.065" mass="0.1"/>

  <!-- Pallet for blue boxes -->
  <xacro:pallet name="blue" x="0.0" y="2.5" z="0.065" mass="0.1"/>

  <!-- Pallet for green boxes -->
  <xacro:pallet name="green" x="-2.5" y="0.0" z="0.065" mass="0.1"/>
</robot>
